<% provide :title do %><%= t('meetings.index.title') %><% end %>

<section role="main">
  <div class="wrap row">
    <div class="small-12 columns">
      <%= meetings_directory meetings: @meetings, filter: @filter, tag_cloud: @tag_cloud %>
    </div>
  </div>
</section>
