<div class="row">
  <div class="small-12 medium-9 column">
    <%= render "form", step: @step, resource_name: 'step', form_url: admin_participatory_process_step_path(@participatory_process, @step) %>
  </div>
</div>
