<ul>
  <% proposals.each do |proposal|  %>
    <li>
      <%= link_to(proposal.title, proposal) %>
      <br />
      <%= render partial: 'proposal_info', locals: { proposal: proposal }%>
      <br />
      (<em><%= t '.activity', votes: summary.votes_count(proposal), comments: summary.comments_count(proposal) %></em>)
    </li>
  <% end %>
</ul>
