&{
  background-color: $highlight;
}

table{
  border: none;
  table-layout: fixed;
  background: none;
}

thead, tbody, td, th, tr{
  background: none;
}

thead{
  .calendar-years{
    border-bottom: 1px solid $text-medium;
  }

  .calendar-months {
    background-color: $background;
    th{
      color: $text-medium;
      font-weight: normal;
    }

    display: none;
    @media #{$medium-up}{
      display: table-row;
    }
  }
}

tbody{
  td{
    border-right: 1px dotted $text-light;
    &.item{
      margin: 0;
      padding: 0;

      span{
        display: block;
        border-radius: rem-calc(5px);
        padding: rem-calc(10);
        text-align: center;
      }
    }
    &:last-child{
      border-right: none;
    }

    $item-colors: #e1f0c4, #cedfae, #abc380, #799c4b, #799c4b, #bfbebe;
    @for $i from 1 through length($item-colors){
      &.item-#{$i} span{
        background-color: nth($item-colors, $i);
      }
    }
  }
}

.calendar-years th{
  color: $brand;
  font-weight: bold;
}

