$category-icons: (
  1: "espiral",
  2: "fletxa",
  3: "arbre",
  4: "correu",
  5: "ma"
);

@function category-id-name($id){
  @return map-get($category-icons, $id);
}

.categories-page{
  .see-proposals{
    text-align: center;
    margin-bottom: $line-height * 2;
    margin-top: $line-height;

    a{
      @include arrow-box;
    }
  }
}

.category-list{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: rem-calc(45);
  margin-bottom: rem-calc(45);

  li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0 rem-calc(8);
    vertical-align: middle;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }

    margin-bottom: rem-calc(30);
  }

  li a{
    @include arrow-box(#ebeced, bottom);
    display: inline-block;
    font-size: rem-calc(24);

    width: rem-calc(150);
    height: rem-calc(195);

    &:hover{
      @include arrow-box($brand, bottom);
    }

    .name{
      display: block;
      font-size: 24px;
      margin-top: rem-calc(25);
      height: rem-calc(62);
      line-height: 1em;
      font-weight: 300;
    }

    $icon-size: rem-calc(55);

    &.category-item .category-icon{
      width: $icon-size;
      height: $icon-size;
      background-color: $background;
      border-radius: rem-calc(32);
      background-size: 60%;
      margin-right: 0;
    }
  }
}

@for $i from 1 through 5 {
  .category-icon-#{$i}{
    @include bcn-icon(category-id-name($i));
  }
}
