%content-show{
  h2{
    font-weight: 300;
    position: relative;
    padding-right: rem-calc(40);

    a{
      color: $text;
    }

  }
  .content-description{
    margin-top: rem-calc(10);
    font-size: rem-calc(22);
    font-weight: 300;
    margin-bottom: 1.5em;
    line-height: 1.2em;
  }
}