.cookies-warning{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  box-shadow: 0 0 rem-calc(20) rgba(0,0,0,0.4);

  background-color: $highlight;
  padding: rem-calc(10) 0;

  .buttons{
    text-align: right;
    a.button{
      margin-bottom: 0;
    }
  }
}
