.header.wide{
  min-height: 300px;

  .title-expanded{
    font-size: $base-font-size;

    margin-top: rem-calc(25);
    a{
      display: inline-block;
    }

    .pla-barcelona, .decidim-barcelona{
      display: block;
      float: left;
      clear: both;
      text-decoration: none;
      @include arrow-box();
      font-size: rem-calc(28);
      margin-bottom: rem-calc(8);
      font-weight: normal;
      line-height: 1em;
      padding-right: rem-calc(30);

      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
    }

    .decidim-barcelona{
      font-size: rem-calc(22px);
      @include arrow-box($text, left);
    }
  }

  .header-motto{
    position: absolute;
    right: rem-calc(50);
    top: rem-calc(165);

    .header-text{
      margin-bottom: rem-calc(15);
    }

    .header-text, .header-link{
      float: right;
      clear: both;
      display: block;
      @include arrow-box($background, right);
      max-width: rem-calc(450);

      font-size: rem-calc(22);
      line-height: 1.1em;
    }

    .header-link{
      .bcn-icon{
        transition: all 0.3s;
      }

      &:hover{
        .bcn-icon{
          transition: all 0.3s;
          @include transform(translateX(rem-calc(5px)));
        }
      }
    }
  }
}

.home-section{
  .home-section{
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
  }

  .home-tutorial{
    padding-top: rem-calc(50);

    .home-title{
      margin-bottom: rem-calc(40);
    }

    margin-bottom: $line-height * 3;

    .tutorial-step{
      $step-padding: rem-calc(176);
      $number-separation: rem-calc(70);
      $number-size: rem-calc(50);
      $description-height: rem-calc(72);

      position: relative;
      margin-top: rem-calc(25);

      .number{

        width: $number-size;
        height: $number-size;
        text-align: center;
        display: inline-block;
        border: rem-calc(2px) solid $brand;
        line-height: $number-size * 0.9;
        font-size: rem-calc(25);
        color: $brand;
        border-radius: $number-size / 2;
        vertical-align: middle;
        font-weight: bold;
        background-color: $background;
        position: absolute;
        bottom: $description-height / 2 - $number-size / 2;
      }

      .line-overlay{
        width: rem-calc(1000/2);
        height: rem-calc(342/2);
        background: image-url('home/tutorial-line.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        z-index: -1;
      }

      .step-content{
        position: relative;
      }

      .description{
        max-width: rem-calc(336);
        display: block;
        height: $description-height;
      }

      .icons{
        margin-bottom: rem-calc(15);

        .bcn-icon{
          width: 2em;
          height: 2em;
          margin-right: 0.5em;
        }
      }

      &.tutorial-step-left{
        .icons{
          @include arrow-box(#e1e1e1, left);
          display: table;
        }

        .description{
          @include arrow-box($brand, left);
        }

        .number{
          left: -$number-separation - $number-size / 2;
        }

        .line-overlay{
          right: 0;
        }

        padding-left: $step-padding;
      }

      &.tutorial-step-right{
        text-align: right;

        .icons, .description{
          margin-left: auto;
        }

        .icons{
          @include arrow-box(#e1e1e1, right);
          display: table;
        }

        .description{
          @include arrow-box(#ececec, right);
        }

        .number{
          right: -$number-separation - $number-size / 2;
        }

        .line-overlay{
          left: 0;
          background-image: image-url('home/tutorial-line-inverted.png');
        }

        padding-right: $step-padding;
      }

      &:last-child{
        .line-overlay{
          display: none;
        }
      }
    }
  }

  .home-title{
    text-align: center;
    max-width: rem-calc(1000);
    margin: 0 auto;

    h3{
      font-size: rem-calc(33);
      color: $brand;
      font-weight: 300;
    }

    h4{
      font-weight: normal;
      font-style: italic;
    }
  }


  .section-download{
    background-color: #f2f2f2;

    .download-buttons{
      text-align: center;
      margin-top: rem-calc(50);

      a{
        &.download-pam{
          @include arrow-box($brand, left);
          padding: 0;
          text-decoration: underline;
          background-image: image-url("home/download-pam.jpg");
        }

        &.download-epub{
          @include arrow-box(#3c3c3b, right);
          padding: 0;
          text-decoration: underline;
          background-image: image-url("home/download-epub.jpg");
        }

        background-size: cover;
        font-size: rem-calc(18);

        display: inline-block;
        height: rem-calc(190);
        width: rem-calc(330);
        margin: 0 rem-calc(10);
        position: relative;

        span{
          text-align: center;
          position: absolute;
          top: 50%;
          left: rem-calc(20);
          right: rem-calc(20);
          color: $text-inverse;
          text-decoration: underline;
          @include transform(translateY(-50%));
        }
      }
    }
  }

  .section-meetings{
    .meetings-map{
      margin-top: rem-calc(15);
    }
  }

  .section-pam{
    .home-description{
      max-width: rem-calc(1000);
      text-align: center;
      padding: rem-calc(30) rem-calc(50);
      background-color: $highlight;
      margin: rem-calc(10) auto;
      p{
        font-size: $h4-font-size;
        font-weight: normal;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .section-proposals{
    padding: 0;
    background-color: #c4c4c4;
    background-image: image-url("home/proposals-background.jpg");
    .proposal-carousel-section{
      margin: rem-calc(20) 0;
    }

    h3{
      text-align: center;
      font-size: rem-calc(21);
      font-weight: normal;
    }
  }

  .section-description{
    .description-content{
      strong{
        color: $brand;
      }
      p{
        font-weight: 300;
        font-size: rem-calc(20);
        &.motto{
          font-weight: 500;
        }
      }

      @include grid-column(12);
      @media #{$medium-up}{ @include grid-column(6); }
      @media #{$large-up}{ @include grid-column(7); }
    }

    .description-video{
      @include grid-column(12);
      @media #{$medium-up}{ @include grid-column(6); }
      @media #{$large-up}{ @include grid-column(5); }

      .video-wrapper{
        position: relative;
        padding-bottom: 56.25%;
        outline: 2px solid $highlight;
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
