.item-meta{
  white-space: nowrap;
  margin-top: $line-height / 2;

  & > a{
    cursor: pointer;
    &:hover, &.active {
      background-color: lighten($highlight, 2%);
    }
  }

  & > * {
    vertical-align: middle;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    @include label(
      $padding: rem-calc(10px),
      $bg: darken($highlight, 5%),
      $text-size: rem-calc(12),
      $radius: rem-calc(4)
    );

    margin-right: rem-calc(3);

    &:last-child{
      margin-right: 0;
    }

    margin-bottom: rem-calc(4);
  }
}
