.page{
  .menu-outer{
    padding-top: $line-height;
    padding-right: rem-calc(15);

    display: none;
    @media #{$medium-up} {
      display: block;
    }
  }
  .menu{
    @media #{$medium-up} {
      margin-top: 0;
      background-color: $highlight;
      text-transform: uppercase;
      padding: rem-calc(30);

      li a{
        color: $text;
      }

      li.selected > a{
        color: $brand;
      }

      ul.folded{
        display: none;
      }

      &.interactive-navigation{
        li.inView > ul{
          display: block;
        }
      }
    }
  }

  h2{
    font-size: rem-calc(30);
    font-weight: 300;
  }

  h3{
    font-size: rem-calc(22);
    font-weight: normal;
  }
}
