.page{
  .menu-outer{
    padding-top: $line-height;
    padding-right: rem-calc(15);
  }
  .menu{
    margin-top: 0;
    background-color: $highlight;
    text-transform: uppercase;
    padding: rem-calc(30);

    li a{
      color: $text;
    }

    li.selected > a{
      color: $brand;
    }

    ul.folded{
      display: none;
    }

    &.interactive-navigation{
      li.inView > ul{
        display: block;
      }
    }
  }
}
