a.button.new-proposal{
  @include arrow-box();
  text-align: left;
}

.proposals-list{
  .proposal{
    background-color: $highlight;
    .proposal-content, .supports{
      padding: rem-calc(12) rem-calc(20);
      min-height: rem-calc(300);
      position: relative;
    }

    .bottom-bar{
      position: absolute;
      bottom: rem-calc(12);
      left: rem-calc(12);
    }

    position: relative;
    margin-bottom: rem-calc(20);

    .label-proposal{
      font-size: rem-calc(18);
      color: $text-medium;
      font-weight: normal;
    }

    h3{
      &, a{
        font-weight: normal;
        font-size: rem-calc(22);
      }
    }

    .proposal-description{
      p{
        font-size: rem-calc(18);
        font-weight: 300;
      }
    }

    .official-badge{
      $size: rem-calc(36);
      @include bcn-icon(ajuntament, $size);
      background-size: 70%;
      background-color: #fff;
      border-radius: $size/2;
      position: absolute;
      top: rem-calc(10);
      right: 0;
    }
  }
}

.featured-proposals{
  .featured-proposal{
    text-align: center;
  }

  .featured-proposal-inner{
    @include arrow-box(darken($highlight, 5%), bottom);
  }

  .featured-proposal-content{
    min-height: rem-calc(120px);
  }
}

.sidebar{
  .sidebar-section .title{
    @include arrow-box($highlight, left);
    font-size: rem-calc(18);
    font-weight: normal;
    line-height: rem-calc(18) * 1.5;
    margin-bottom: $line-height;
  }

  .sidebar-section-content{
    padding-left: rem-calc(22px);
  }

  h3{
    font-size: rem-calc(16);
    text-transform: uppercase;
  }

  .filter-group{
    padding-bottom: rem-calc(20px);
    border-bottom: 1px dashed $text-light;
    margin-bottom: rem-calc(20px);

    .field{
      position: relative;
      padding-left: rem-calc(24);
      margin-bottom: 0.5em;
      label{
        display: inline;
        margin: 0;
        padding: 0;
      }
      input{
        position: absolute;
        top: $base-line-height / 2 + rem-calc(2);
        margin: 0;
        padding: 0;
        @include transform(translateY(-50%));
        left: 0.2em;
      }

      a{
        margin-left: 0.2em;
      }
    }
  }
}

.proposal-meta{
  margin-top: $line-height / 2;
  span {
    @include label(
      $padding: rem-calc(10px),
      $bg: darken($highlight, 5%),
      $text-size: rem-calc(12),
      $radius: rem-calc(4)
    );
  }
}

.proposal-show{
  h2{
    font-weight: 300;
    a{
      color: $text;
    }
  }
  .proposal-description{
    margin-top: rem-calc(10);
    font-size: rem-calc(22);
    font-weight: 300;
  }
}


.proposals-list, .proposal-show{
  .vote-box{
    text-align: left;

    .progress{
      position: relative;
      background-color: $highlight;
      .meter{
        background-color: $brand;
      }
    }

    .supports-count{
      font-size: rem-calc(20);
    }

    .support-progress{
      padding-bottom: rem-calc(15);
      border-bottom: 1px dotted $highlight;
      margin-bottom: rem-calc(15);
    }

    border: 5px solid $highlight;
    background-color: $background;

    .percentage{
      font-size: rem-calc(30);
      color: $brand;
    }

    .total-supports{
      text-align: left;
    }
  }
  
}
