a.button.new-proposal{
  @include arrow-box();
  text-align: left;
}

.proposals-list{
  .proposal{
    background-color: $highlight;
    .proposal-content, .supports{
      padding: rem-calc(12) rem-calc(20);
      min-height: rem-calc(250);
    }

    position: relative;
    margin-bottom: rem-calc(20);

    .supports{
      text-align: left;

      .progress{
        position: relative;
        background-color: $highlight;
        .meter{
          background-color: $brand;
        }
      }

      .supports-count{
        font-size: rem-calc(20);
      }

      .support-progress{
        padding-bottom: rem-calc(15);
        border-bottom: 1px dotted $highlight;
        margin-bottom: rem-calc(15);
      }

      border: 5px solid $highlight;
      background-color: $background;

      .percentage{
        font-size: rem-calc(30);
        color: $brand;
      }

      .total-supports{
        text-align: left;
      }
    }

    .label-proposal{
      font-size: rem-calc(18);
      color: $brand;
      font-weight: bold;
    }

    h3{
      &, a{
        font-weight: 200;
        color: $text;
        font-size: rem-calc(22);
      }
    }

    .proposal-description a{
      color: $text;
    }

    .official-badge{
      $size: rem-calc(36);
      @include bcn-icon(ajuntament, $size);
      background-size: 70%;
      background-color: #fff;
      border-radius: $size/2;
      position: absolute;
      top: rem-calc(10);
      right: 0;
    }
  }
}

.featured-proposals{
  .featured-proposal{
    text-align: center;
  }

  .featured-proposal-inner{
    @include arrow-box(darken($highlight, 5%), bottom);
  }

  .featured-proposal-content{
    min-height: rem-calc(120px);
  }
}

.sidebar{
  .sidebar-section .title{
    @include arrow-box($highlight, left);
    font-size: rem-calc(18);
    font-weight: normal;
    line-height: rem-calc(18) * 1.5;
    margin-bottom: $line-height;
  }

  .sidebar-section-content{
    padding-left: rem-calc(22px);
  }

  h3{
    font-size: rem-calc(16);
    text-transform: uppercase;
  }

  .filter-group{
    padding-bottom: rem-calc(20px);
    border-bottom: 1px dashed $text-light;
    margin-bottom: rem-calc(20px);

    .field{
      position: relative;
      padding-left: rem-calc(24);
      margin-bottom: 0.5em;
      label{
        display: inline;
        margin: 0;
        padding: 0;
      }
      input{
        position: absolute;
        top: $base-line-height / 2 + rem-calc(2);
        margin: 0;
        padding: 0;
        @include transform(translateY(-50%));
        left: 0.2em;
      }

      a{
        margin-left: 0.2em;
      }
    }
  }
}
