.auth-page{
  background: image-url("auth_bg.jpg");
  background-size: cover;
  background-color: none;
  background-position: left top;
  background-attachment: fixed;

  .panel{
    box-shadow: rem-calc(0) rem-calc(0) rem-calc(50) rgba(0,0,0,0.4);
  }
}

.auth {
  p.lopd-text {
    font-size: rem-calc(11);
  }
}
