.vote-box{
  .in-favor .supported{
    color: $text;
    font-size: rem-calc(11);
    margin-top: rem-calc(3);
  }

  .share-buttons{
    margin-top: rem-calc(4);
  }

  .social-share-button{
    height: rem-calc(36);
  }

  .share-supported {
    text-align: center;

    .social-share-button {
      display: inline-block;
      vertical-align: middle;
    }

    $button-width: rem-calc(30);
    $button-height: rem-calc(36);

    .whatsapp-share{
      height: $button-height;
      width: $button-width;
      margin-left: rem-calc(3);
      display: inline-block;
      vertical-align: middle;
      display: none;

      .is-mobile &{
        display: inline-block;
      }

      .fa-whatsapp{
        color: #00860C;
        line-height: $button-height;

        font-size: rem-calc(25);
      }
    }

    a{
      background: none;
      height: $button-height;
      position: relative;
      width: $button-width;
      display: inline-block;
      &:before {
        overflow: hidden;
        font-size: rem-calc(24);
        left: rem-calc(10);
        top: 0;
        line-height: $button-height;
        position: absolute;
        width: $button-width;
        text-align: center;
      }
    }

    .social-share-button-twitter {
      color: #40A2D1;
      &:hover{
        &:before{
          color: lighten(#40A2D1, 10%)
        }
      }
    }

    .social-share-button-facebook {
      color: #354F88;

      &:hover{
        &:before{
          color: lighten(#354F88, 10%)
        }
      }
    }

    .social-share-button-google_plus {
      color: #CE3E26;

      &:hover{
        &:before{
          color: lighten(#CE3E26, 10%)
        }
      }
    }
  }
}
