<table class="clear activity-debates">
  <% @debates.each do |debate| %>
    <tr id="debate_<%= debate.id %>">
      <td>
        <%= link_to debate.title, id: debate, participatory_process_id: debate.participatory_process.slug %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @debates %>