<table class="clear activity-meetings">
  <% @meetings.each do |meeting| %>
    <tr id="meeting<%= meeting.id %>">
      <td>
        <%= link_to meeting.title, id: meeting, participatory_process_id: meeting.participatory_process.slug %>
        <br>
        <%= meeting.description %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @meetings %>
