<table class="clear activity-proposals">
  <% @proposals.each do |proposal| %>
    <tr id="proposal_<%= proposal.id %>">
      <td>
        <%= link_to proposal.title, proposal_path(id: proposal, participatory_process_id: proposal.participatory_process, step_id: Step.step_for(proposal.participatory_process, "proposals")) %>
        <br>
        <%= proposal.summary %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @proposals %>
