<table class="clear activity-proposals">
  <% @proposals.each do |proposal| %>
    <tr id="proposal_<%= proposal.id %>">
      <td>
        <%= link_to proposal.title, id: proposal, participatory_process_id: proposal.participatory_process.slug %>
        <br>
        <%= proposal.summary %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @proposals %>