<% if current_user %>
    <% if can? :access_panel, :administration %>
      <li>
        <%= link_to t("layouts.header.administration"), admin_root_path %>
      </li>
    <% end %>

    <% if can? :access_panel, :moderation %>
      <li>
        <%= link_to t("layouts.header.moderation"), moderation_root_path %>
      </li>
    <% end %>

    <% if can? :access_panel, :revision %>
      <li>
        <%= link_to t("layouts.header.revision"), revision_root_path %>
      </li>
    <% end %>
<% end %>
