<% # Params:
   #
   #   i18n_namespace: for example "moderation.debates.index"
%>

<ul class="sub-nav menu">
  <% @valid_filters.each do |filter| %>
    <% if @current_filter == filter %>
      <li class="active"><%= link_to t("#{i18n_namespace}.filters.#{filter}"),
        current_path_with_query_params(filter: filter, page: 1) %></li>
    <% else %>
      <li><%= link_to t("#{i18n_namespace}.filters.#{filter}"),
        current_path_with_query_params(filter: filter, page: 1) %></li>
    <% end %>
  <% end %>
</ul>
<br />
