<div class="section-categories home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-title">
        <h3><%= t 'welcome.categories.title' %></h3>
        <h4><%= t 'welcome.categories.subtitle' %></h4>
      </div>

      <%= render partial: 'shared/categories', locals: categories: @categories %>
    </div>
  </div>
</div>
