<div class="section-description home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="description-content">
        <p><%== t '.text1' %></p>
        <p class="motto"><%== t '.text2' %></p>
      </div>
      <div class="description-video">
        <div class="video-wrapper">
          <iframe src="https://www.youtube.com/embed/zET3QSnY_6Q?controls=1&modestbranding=1&playsinline=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
