<div class="section-description home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-description">
        <%= t('welcome.description').html_safe %>
      </div>
    </div>
  </div>
</div>
