<div class="section-download home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-title">
        <h3><%= t 'welcome.download.title' %></h3>
        <h4><%= t 'welcome.download.subtitle' %></h4>
      </div>
      <div class="download-buttons">
        <%= link_to t('welcome.download.links.pam'), '#', class: 'download-pam' %>
        <%= link_to t('welcome.download.links.epub'), '#', class: 'download-epub' %>
      </div>
    </div>
  </div>
</div>
