<div class="section-meetings home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-title">
        <h3><%= t 'welcome.meetings.title' %></h3>
      </div>
    </div>
  </div>

  <div class="meetings-map">
    <div class="map-overlay-shadow"></div>
    <%= meetings_map(Meeting.upcoming) %>
  </div>
</div>
