<% if Debate.upcoming.any? || Debate.ongoing.any? %>
  <div class="section-notifications home-section">
    <div class="row">
      <div class="notifications">
        <% Debate.ongoing.each do |debate| %>
          <%= link_to t("welcome.notifications.debate.now", title: debate.title), debate_path(debate) %>
        <% end %>

        <% Debate.upcoming.each do |debate| %>
          <%= link_to t("welcome.notifications.debate.upcoming", title: debate.title, time: l(debate.starts_at, format: :datetime)), debate_path(debate) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
