<div class="section-pam home-section">
  <div class="row">
    <div class="small-12 columns">
      <div class="home-title">
        <h3><%= t '.title' %></h3>
      </div>
      <div class="home-description">
        <%= t('.text').html_safe %>
      </div>
    </div>
  </div>
</div>
