<p class="text-center">
  <%= link_to t("welcome.welcome.user_permission_verify_url"), verification_path , class: "button success radius" %>
</p>

<p class="text-center">
  <%= t("welcome.welcome.skip_verification") %>
</p>
<p class="text-center">
  <%= link_to t("welcome.welcome.see_proposals"), proposals_path(participatory_process_id: @main_participatory_process) , class: "button secondary radius" %>
</p>
