<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= title %></h1>
    <%= render partial: 'revision/action_plan_reports/report/action_plans', locals: { action_plans: action_plans } %>
  </body>
</html>
