<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h2>Termes d’accés al padró</h2>
        <p>Per verificar el compte cal tenir 16 anys o més i estar empadronat a Barcelona aportant les dades indicades anteriorment, els quals seran contrastats amb els fitxers 'Padró Municipal d'Habitants' del qual és responsable l’ Institut Municipal de Informàtica. Acceptant el procés de verificació accepta donar el seu consentiment per contrastar aquesta informació, així com un mitjà de contacte que figuri en aquests fitxers. Les dades aportades seran incorporades i tractades per la Regidoria de participació i districtes al fitxer Participació Ciutadana de l’Ajuntament de Barcelona indicat anteriorment en les condicions d'ús del portal.</p>
    </div>
  </div>
</div>
