<% provide :title do %><%= t('.title') %><% end %>

<div class="page row-full">
  <div class="row">
    <div class="more-information text small-12 medium-8 medium-centered column">
      <h2><%=t '.title' %></h2>
      <ul>
        <li>
          <span>
          <%= link_to asset_url('pla_municipal.pdf') do %>
            <%=t '.download-pam'%>
          <% end %>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
