<div class="page row-full error">
  <div class="row">
    <div class="small-12 columns">
      <div class="error-message <%= @rescue_response %>">
        <h2><%= t 'errors.internal_server_error.title' %></h2>
        <p class="error-description">
          <%= t 'errors.internal_server_error.description' %>
        </p>
      </div>
    </div>
  </div>
</div>
