/* Froms foundation overwrites*/

.input-group-button button{
  height: 2.5rem;
  padding: .5rem 1rem;
}

.help-text{
  line-height: 1.2;
}

/* Switch additional styles */

.switch-with-label{
  > label{
    display: flex;
    align-items: center;
  }
  .switch-paddle{
    display: inline-block;
    margin-right: 1rem;
  }
}