/* Variables */

$navbar-bg: $dark-gray;
$navbar-bg-hover: rgba(white,.02);
$navbar-color: rgba(white,.5);
$navbar-color-hover: $white;
$navbar-active-color: $white;
$navbar-active-bg: $navbar-bg-hover;
$navbar-active-shadow-small: inset 4px 0 0 0 $primary;
$navbar-active-shadow-medium: inset 0 4px 0 0 $primary;

/* Navigation */

.navbar{
  background: $navbar-bg;
}

/* Top bar */

.topbar{
  @include breakpoint(smallmedium down){
    border-top: 34px solid $dark-gray;
  }
}

.logo-wrapper{
  padding: 0 1rem;
  @include breakpoint(medium){
    text-align: center;
    padding: .5rem 1rem;
  }
  a{
    display: inline-block;
  }
  span{
    color: $white;
    font-weight: 600;
    display: inline-block;
    text-align: left;
    padding-left: .3rem;
    line-height: 1;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      border-left: 4px solid $white;
      height: 88%;
      top: 6%;
      left: -5px;
    }
  }
}

.topbar__dropmenu{
  @include breakpoint(smallmedium down){
    font-size: .8rem;
    position: absolute;
    top: 0;
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after{
      border-width: 3px;
      right: 10px;
      margin-top: 0;
    }
  }
  
  @include breakpoint(medium){
    padding-top: .4rem;
  }
  .menu > li > a{
    padding-left: 0;
  }
  .dropdown{
    display: inline-block;
    vertical-align: middle;
  }
  .is-dropdown-submenu{
    text-align: left;
    padding-left: .3rem;
    background-color: rgba($white, .8);
    border-radius: $global-radius;
    min-width: 150px;
    a{
      padding: 0.3rem 1rem;
    }
  }
}

.topbar__dropmenu > ul > li > a{
  color: $medium-gray;
  &:after{
    border-top-color: $medium-gray !important;
  }
}

.topbar__user{
  padding-top: 1rem;
  padding-right: 2rem;
  @media (min-width: 1270px){
    padding-right: 0;
  }
}

.topbar__user__avatar{
  float: right;
  width: 100%;
  max-width: 30px;
  border-radius: 50%;
  margin-left: 1rem;
}


.topbar__menu{
  text-align: right;
  font-size: 20px;
}

.topbar__user__logged{
  text-align: right;
  padding-right: 2rem;
  @media (min-width: 1270px){
    padding-right: 0;
  }
}

.usermenu-off-canvas-holder .usermenu-off-canvas{
  border-top: 1px solid;
  border-bottom: 1px solid;
  &.is-dropdown-submenu{
    display: block;
    position: static;
    background: transparent;
    border-left: 0;
    border-right: 0;
  }
  a{
    display: block;
    padding: 1em 2em;
    color: $navbar-color;
    &:hover{
      background: $navbar-bg-hover;
      color: $navbar-color-hover;
    }
  }
}

.topbar__user__login{
  text-align: right;
  line-height: 1.2;
  a{
    color: $medium-gray;
    font-weight: 600;
    &:hover{
      color: $anchor-color;
    }
  }
  a:first-of-type:after{
    content: "";
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
    width: 1px;
    height: 2px;
    border-left: $border;
    vertical-align: middle;
  }
  .off-canvas &{
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

.logo-cityhall{
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 0;
  width: 24px;
  @include breakpoint(medium){
    top: 1rem;
    width: 40px;
  }
}

/* Main nav */
.main-nav{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: auto;

  @include breakpoint(medium) {
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: flex;
    >li{
      display: inline-block;
      flex: 1;
      text-align: center;
    }
  }
}

.main-nav__link{
  display: block;
  padding: 1em 2em;
  color: $navbar-color;
  &:hover{
    background: $navbar-bg-hover;
    color: $navbar-color-hover;
  }
}

.main-nav__link--active{
  box-shadow: $navbar-active-shadow-small;
  color: $navbar-active-color;
  background: $navbar-active-bg;
   @include breakpoint(medium) {
    box-shadow: $navbar-active-shadow-medium;
  }
}