.social-register{
  margin: 2rem 0;
}

.button--social{
  padding: 0 1.5rem 0 0;
  text-align: left;
  display: block;
  min-width: 250px;
  &--twitter{
    background-color: $twitter;
    &:hover{
      background-color: lighten($twitter,5);
    }
  }
  &--facebook{
    background-color: $facebook;
    &:hover{
      background-color: lighten($facebook,5);
    }
  }
  &--google{
    background-color: $google;
    &:hover{
      background-color: lighten($google,5);
    }
  }
}

.button--social__icon{
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1rem;
  border-right: 1px solid rgba(black,.075);
  margin-right: .5rem;
  min-width: 3rem;
  text-align: center;
}

.register__separator{
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
  font-style: italic;
  margin: 4rem 0;
  &:before{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $medium-gray;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
}

.register__separator__text{
  display: inline-block;
  background: $white;
  padding: 0 1rem;
}

.register-form{
  margin-top: 2rem;
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    height: 3rem;
  }
  .button{
    margin: 2rem 0;
  }
}