@import "slick";

.carousel{
  padding: rem-calc(10) rem-calc(60);
  padding-bottom: rem-calc(5);
  position: relative;

  .slick-slider{
    margin-bottom: 0;
  }

  .item-wrapper{
    padding-bottom: rem-calc(10);
  }

  .slick-next, .slick-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    width: rem-calc(60);
    display: block;
    height: 100%;
    margin-bottom: rem-calc(15);
    margin: 0;
    background: none;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      @include transition(opacity 0.5s);
    }

    opacity: 1;
    &.slick-disabled{
      &::before{
        opacity: 0.2;
        @include transition(opacity 0.5s);
        cursor: default;
      }
    }
  }

  .slick-next{
    right: -1 * rem-calc(55);
    &::before{
      background: image-url("home/arrow-right.png") center no-repeat;
    }
  }

  .slick-prev{
    left: -1 * rem-calc(55);
    &::before{
      background: image-url("home/arrow-left.png") center no-repeat;
    }
  }
}
