.subcategory-picker{
  ul{
    margin-left: 0;

    @media #{$medium-up}{
      @include block-grid(
        $per-row: 3
      )
    }
  }

  ul li{
    list-style-type: none;
    cursor: pointer;
    position: relative;
    position: relative;
    padding-bottom: rem-calc(5);

    span.name{
      padding-left: rem-calc(25);
      display: inline-block;
    }

    &:before{
      font-family: "FontAwesome";
      content: "\f096";
      position: absolute;
      top: 0;
      left: 0.6rem;
    }

    &.selected{
      &:before{
        content: "\f046";
      }
    }
  }

  margin-bottom: $line-height;
}

.category-picker{
  ul{
    @include block-grid(2);

    @media #{$medium-up} {
      @include block-grid(3);
    }

    @media #{$large-up} {
      @include block-grid(5);
    }

  }

  span.category{
    cursor: pointer;
    display: block;
    padding: rem-calc(15) rem-calc(6);
    padding-top: rem-calc(20);
    text-align: center;
    background-color: $highlight;
    position: relative;
    @include transition(all, 0.15s);

    span.name{
      display: block;
      text-align: center;
    }

    $icon-size: rem-calc(40);

    .icon{
      width: $icon-size;
      height: $icon-size;
      background-color: $background;
      border-radius: rem-calc(32);
      background-size: 60%;
      margin-right: 0;
    }
  }

  li.selected span.category{
    background-color: $brand;
    color: #fff;
  }
}
