.loading-component {
  position: absolute;
  z-index: 100;
  background: transparentize($background, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: rem-calc(80);

  span{
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    top: 30%;
    color: $brand;
  }

  &.votes{
    font-size: rem-calc(40);
    span {
      top: 40%;
      left: 40%;
      @include transform(translateX(-40%));
    }
  }

}
