.meeting{
  font-size: $base-font-size;

  .meeting-title{
    font-size: rem-calc(16);
    font-weight: 600;
    display: block;
  }

  .meeting-description{
    margin-top: rem-calc(10);
  }

  .meeting-address-details .icon{
    @include bcn-icon(localitzacio, 1em);
  }

  .meeting-address .icon{
    @include bcn-icon(planol, 1em);
  }

  .meeting-address, .meeting-address-details{
    position: relative;
    font-size: rem-calc(14);

    .icon{
      position: absolute;
      top: rem-calc(5);
      left: 0;
      margin-top: 0;
    }

    padding-left: 1.5em;
  }
}

.meeting-show{
  .meeting-date{
    @include arrow-box(#d8d7d7, bottom);
    margin: 0 auto;

    text-align: center;
    .date, .week-day{
      display: block;
      color: $text;
      font-style: normal;
    }

    .date{
      font-size: rem-calc(18);
    }

    .week-day{
      font-size: rem-calc(18);
      font-weight: 300;
    }

    .time{
      display: block;
      margin-top: 0.5rem;
      font-size: rem-calc(18);
      font-weight: 300;
    }

    margin-bottom: 1rem;
  }

  .description{
    font-size: rem-calc(22);
    font-weight: 300;
  }

  .meeting-map{
    margin: 1rem 0;
  }

  .sidebar{
    .static-map{
      height: rem-calc(200);
    }
  }

  .location-info{
    margin: rem-calc(15) 0;
    font-size: rem-calc(18);
    & > *{ margin: rem-calc(15) 0; }
    .district{
      font-weight: bold;
    }
  }

  .meeting-proposals{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li{
      background-color: $highlight;
      margin-bottom: rem-calc(10);
      display: block;
      padding: rem-calc(15);
      padding-right: rem-calc(110);
      position: relative;

      .support{
        margin-left: rem-calc(10);
      }

      .see-more{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem-calc(10);
      }
    }
  }

  .tags{
    display: block;
    margin-bottom: rem-calc(15);
  }

  .meeting-pictures{
    @include block-grid(1);
    @media #{$small-up}{
      @include block-grid(2);
    }

    @media #{$large-up}{
      @include block-grid(3);
    }
  }

  .meeting-main-info{
    @include grid-row($behavior: nest);

    .title-and-description{
      @include grid-column(12);
    }

    .meeting-date-wrapper{
      @include grid-column(12);
      .meeting-date{
        margin: 1.5rem 0;
      }
    }

    @media #{$medium-up}{
      .title-and-description{
        @include grid-column(8);
      }

      .meeting-date-wrapper{
        margin-top: 0;
        margin-bottom: 0;

        @include grid-column(4);
        .meeting-date{
          margin-left: auto;
          margin-right: 0;
        }
      }
    }

    @media #{$large-up}{
      .title-and-description{
        @include grid-column(9);
      }

      .meeting-date-wrapper{
        @include grid-column(3);
      }
    }
  }

  .meeting-date{
    margin: 0 auto;
  }

  .meeting-card{
    border: 1px solid #c9c9c9;
    margin-top: rem-calc(25);
    padding: rem-calc(25);

    .meeting-card-block{
      padding: rem-calc(15) 0;
      text-align: center;
      border-bottom: 1px dotted #c9c9c9;

      &:last-child{
        border-bottom: none;
      }

      .meeting-card-number, .meeting-card-text{
        display: block;
      }

      .meeting-card-number{
        font-size: rem-calc(30);
        color: #666;
      }

      .meeting-card-description{
        display: block;
        margin-top: rem-calc(10);
        color: $brand;
      }
    }
  }
}
