.meeting{
  font-size: $base-font-size;

  .meeting-title{
    font-size: rem-calc(16);
    font-weight: 600;
    display: block;
  }

  .meeting-held-at{
    display: inline-block;
    margin-top: rem-calc(5);
    $color: lighten($text, 20%);
    color: $color;
    border: 1px solid lighten($color, 30%);
    border-radius: rem-calc(5);
    padding: rem-calc(2) rem-calc(15);
    font-size: rem-calc(12);
    text-transform: uppercase;
    background-color: $highlight;

    span{
      display: inline-block;
    }
  }

  .tags{
    display: inline-block;
    margin-right: rem-calc(5);
  }

  .relative-time{
    color: lighten($text, 40%);
    display: inline-block;
  }

  .meeting-description{
    margin-top: rem-calc(10);
  }

  .meeting-address{
    position: relative;
    font-size: rem-calc(14);

    .icon{
      @include bcn-icon(localitzacio, 1em);
      position: absolute;
      top: rem-calc(5);
      left: 0;
      margin-top: 0;
    }

    padding-left: 1.5em;
  }
}

.meeting-show{
  .meeting-date{
    @include arrow-box(#d8d7d7, bottom);

    text-align: center;
    .date, .week-day{
      display: block;
      color: $text;
      font-style: normal;
    }

    .date{
      font-size: rem-calc(18);
    }

    .week-day{
      font-size: rem-calc(18);
      font-weight: 300;
    }

    .time{
      display: block;
      margin-top: 1rem;
      font-size: rem-calc(18);
      font-weight: 300;
    }

    margin-bottom: 1rem;
  }

  .description{
    font-size: rem-calc(22);
    font-weight: 300;
  }

  .meeting-map{
    margin: 1rem 0;
  }

  .sidebar{
    margin-top: $line-height * 1.5;
  }

  .address{
    margin: 2rem 0;
    font-size: rem-calc(18);
  }

  .sidebar{
    h3{
      margin-top: 2rem;
      text-transform: none;
      font-size: rem-calc(22);
      font-weight: 300;
    }

    .proposals{
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

        border: 1px solid #e6e6e6;
      }

      li{
        border-bottom: 1px solid #e6e6e6;

        a{
          display: block;
          padding: rem-calc(15);
        }
      }
    }
  }
}
