.meetings-directory {
  clear: both;
  position: relative;

  .map {
    margin-bottom: $line-height;
  }

  .filters{
    @include grid-column($columns: 12);

    @media #{$medium-up}{
      @include grid-column($columns: 4, $last-column: false);
    }

    @media #{$large-up}{
      @include grid-column($columns: 3, $last-column: false);
    }

    @media #{$small-only}{
      display: none;
    }
  }

  .meetings-directory-content{
    @include grid-row;
  }

  .meetings-list{
    position: relative;

    @include grid-column(
      $columns: 12,
      $collapse: true
    );

    @media #{$medium-up}{
      @include grid-column($columns: 8, $collapse: true);
    }

    @media #{$large-up}{
      @include grid-column($columns: 9, $collapse: true);
    }

    .meetings-list-items{
      @include block-grid(
        $per-row: 1
      );

      @media #{$medium-up} {
        @include block-grid(
          $per-row: 2
        );

        .meeting-content{
          min-height: rem-calc(200);
        }
      }

      @media #{$large-up}{
        @include block-grid(
          $per-row: 3
        );
      }

      .meeting-inner{
        background-color: $highlight;
        padding: rem-calc(20);
      }
    }
  }

  .pagination{
    @include grid-column($columns: 12);
  }
}
