.carousel{
  .carousel-meeting{
    @include arrow-box(white, bottom);
    margin: 0 rem-calc(5);
    padding: rem-calc(15) rem-calc(15);
    .meeting-title{
      font-size: rem-calc(18);
      font-weight: bold;
      display: block;
      height: rem-calc(42);
      overflow: hidden;
    }

    .meeting-held-at{
      padding: 0;
      border: 0;
    }

    .meeting-description{
      margin-top: $line-height / 2;
      height: $line-height * 3;
    }

    .meeting-address{
      color: lighten($text, 50%);
    }
  }
}
