.carousel{
  .carousel-proposal{
    @include arrow-box(white, bottom);
    margin: 0 rem-calc(5);
    padding: rem-calc(30) rem-calc(10);

    .proposal-title{
      display: block;
      text-align: center;
      height: rem-calc(66);
      overflow: hidden;
      a{
        color: $text;
      }
      font-size: rem-calc(18);
      font-weight: 600;
    }

    .proposal-metadata{
      display: block;
      color: #666666;
      text-align: center;
      margin: rem-calc(10) 0;
    }

    .see-more{
      @include button(
        $padding: rem-calc(10),
        $radius: rem-calc(5)
      );

      text-transform: uppercase;
      display: block;
      margin: 0 rem-calc(20);
    }
  }
}
