.proposal-filter-tabs {
  ul {
    li {
      display: inline-block;
      width: 200px;
      a {
        display: block;
        &:hover, &.active {
          background: $brand;
          color: $white;
        }
      }
    }
  }
}
