.proposal-action-plans{
  margin-bottom: rem-calc(30);

  h3{
    margin-top: rem-calc(20);
  }

  .related-action-plans{
    margin: 0;
    padding: 0;
    td{
      padding: rem-calc(25);
      display: block;

      @media #{$medium-up}{
        display: table-cell;
      }
    }

    .action-plan-title{
      a{
        display: block;
        font-size: rem-calc(16);
        margin-bottom: rem-calc(5);
      }
    }

    .action-plan-statistics{
      width: rem-calc(220);
      margin: 0;
      padding: rem-calc(10);
      li{
        font-size: rem-calc(14);
        margin: 0;
      }
    }

  }
}
