.user-avatar {
  width: 32px;
  height: 32px;
  background: rgb(22, 160, 133);
  color: #fff;
  border-radius: 32px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 32px;
  font-size: 1.7em;
}
