/*
 *= require normalize-rails
 */

@import "bourbon";
@import "foundation_and_overrides";
@import 'foundation/functions';
@import "variables";
@import "barcelona";
@import "foundation/components/buttons";

#email-layout{
  font-size: $base-font-size;
  line-height: normal;

  h1{
    line-height: normal;
    font-size: rem-calc(20);
  }

  table{
    border: 0;
  }

  table.main{
    max-width: 600px;
    background-color: $background;

    td{
      padding: 0 1rem;

      &.content{
        padding: 1rem;
      }

      h2{
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    margin: 0 auto;

    .header{
      border-bottom: 1px solid $highlight;
      background-color: $background;
    }

    .footer{
      text-align: center;
      color: $text-medium;
      border-top: 1px solid $highlight;
    }
  }

  a{
    color: $brand;
  }

  .call-to-action{
    text-align: center;
    padding-top: $line-height;
    padding-bottom: $line-height;
    a{
      @include button();
      border-radius: 5px;
    }
  }
}
