@import "foundation_and_overrides";
@import "variables";

#email-layout{
  * {
    font-family: 'Open Sans', Arial, sans-serif;
  }

  font-size: 14px;
  line-height: normal;

  h1{
    line-height: normal;
    font-size: 20px;
  }

  table{
    border: 0;
  }

  a{
    color: $brand;
  }

  table.main{
    max-width: 600px;
    text-align: left;

    td{
      &.email-content{
        background-color: $highlight;

        .email-content-inner{
          margin: 15px;
          margin-bottom: 20px;
        }
      }

      h2{
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    margin: 0 auto;

    .header{
      background-color: $background;
      background-position: center;
    }

    .footer{
      text-align: center;
      color: $text-medium;
    }
  }

  blockquote{
    background-color: $background;
    margin: 0;
    padding: ($line-height / 2) $line-height;
    color: lighten($text, 30%);
    font-size: $base-font-size * 1.2;
  }

  .call-to-action{
    text-align: center;
    padding-top: $line-height / 2;
    padding-bottom: rem-calc(20);

    a{
      border-radius: 5px;
      color: $text-inverse;
      background-color: $brand;
      text-decoration: none;
      border: 10px solid $brand;
    }
  }

  .application-title{
    text-align: center;
    background-position: center;
    margin-bottom: rem-calc(20);
    margin-top: rem-calc(20);
    a img{
      width: 225px;
      height: 37px;
    }
  }

  ul{
    li{
      margin-bottom: rem-calc(5);
    }
  }

  .weekly-summary{
    h3{
      padding-top: rem-calc(20);
    }

    .title{
      text-align: center;

      h2{
        padding-top: rem-calc(20);
        padding-bottom: 0;
      }

      h3{
        margin: 0;
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(5);
        &.name{
          font-weight: normal;
        }
      }
    }

  }
}
