<% providers = %i{twitter facebook google_oauth2} %>

<% providers.each do |provider| %>
  <% if provider == :google_oauth2 %>
    <% icon_name = :google %>
  <% else %>
    <% icon_name = provider %>
  <% end %>

  <%= link_to user_omniauth_authorize_path(provider), class: "button button--social button--#{icon_name}" do %>

    <span class="button--social__icon">
      <%= icon icon_name %>
    </span>
    <%= t("omniauth.#{provider}.sign_in") %>
  <% end %>
<% end %>
