<div class="row">
  <div class="columns small-12">
    <h1><%= t ".title" %></h1>
    <ul>
      <% @participatory_processes.each do |participatory_process| %>
        <li><%= participatory_process.title %></li>
      <% end %>
    </ul>
  </div>
</div>
