<section role="main">
  <div>
    <div class="wrap row">
      <div class="small-12 columns">
        <h1><%= @participatory_process.title %></h1>
        <h2><%= @participatory_process.subtitle %></h2>
        <p><%= @participatory_process.summary.html_safe %></p>
        <p><%= @participatory_process.description.html_safe %></p>
      </div>
    </div>
  </div>
</section>