<div class="participatory-process-edit row">
  <div class="small-12 medium-9 column">
    <%= render "form", participatory_process: @participatory_process, resource_name: 'participatory_process', form_url: admin_participatory_process_path(@participatory_process) %>
  </div>
</div>
