<div class="row">
  <div class="small-12 medium-9 column">
    <%= render "form", step: @step, resource_name: 'step', form_url: moderation_participatory_process_steps_path(@participatory_process) %>
  </div>
</div>
