<%= render 'layouts/session_menu' %>
<div class="main-menu-wrapper">
  <%= render partial: 'layouts/main_menu' %>
  <% if @participatory_process.present? %>
    <%= render partial: 'layouts/menu' %>
  <% end %>
</div>
<% if content_for?(:header_addon) %>
  <div class="row">
    <section class="small-12 medium-4 medium-offset-8 large-3 large-offset-9 columns">
      <%= yield :header_addon %>
    </section>
  </div>
<% end %>
