<div class="show-for-medium" data-set="nav-holder">
  <nav class="navbar js-append">
    <div class="row">
      <ul class="main-nav">
        <li>
          <%= link_to root_path, class: "main-nav__link #{'main-nav__link--active' if home_page?} home" do %>
            <%= t("layouts.header.home") %>
          <% end %>
        </li>

        <li>
          <%= link_to t("layouts.header.participatory_processes"), participatory_processes_path,
          class: "main-nav__link #{('main-nav__link--active' if  (controller_name == 'participatory_processes' || @participatory_process))}", data: {'no-turbolink' => true}  %>
        </li>

        <li>
          <%= link_to t("layouts.header.more_information"), page_path("more_information"),
          class: "main-nav__link #{'main-nav__link--active' if more_information?}" %>
        </li>
      </ul>
    </div>
  </nav>
</div>
