<%= content_for :body do %>
  <main class="wrapper">
    <div class="row">
      <%= display_flash_messages %>
    </div>
    <%= yield %>
  </main>
<% end %>

<%= render partial: 'layouts/application' %>
