<%= content_for :body do %>
  <main class="wrapper">
    <div class="row column">
      <div class="small-12">
        <%= display_flash_messages %>
      </div>
    </div>
    <%= yield %>
  </main>
<% end %>

<%= render partial: 'layouts/application' %>
