<%= stylesheet_link_tag :email %>
<div id="email-layout">
  <table class="main">
    <tbody>
      <tr>
        <td class="header">
          <%= render 'layouts/title' %>
        </td>
      </tr>
      <tr>
        <td class="email-content">
          <%= yield %>
        </td>
      </tr>
      <tr>
        <td class="footer">
          <p><%= Setting['org_name'] %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
